</body>
<footer>
<P>EJERCICIO 5 - TIENDA UT</P>
<SMALl>Aplicacion web con conexion con base de datos MySQL2 tipo CRUD</SMALl>
<br>
<small>Desarrollo integrado con:</small>
<br>
<Small>Node js - ejs - express - nodemon - Mysql2</Small>
<p>Desarrollado por Ulises Eduado López Acosta</p>
<small> Designed by fullsatck web Designer Dangeros Michi (Ulises Eduado López Acosta)</small>
<p>From Ti02SM-23  - UTSJR</p>
<P>3ER PARCIAL/SEGUNDO CUATRIMESTRE</P>
<small>julio 2024</small>
<br>
<br>
</footer>
</html>
