<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 4</title>
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="http://localhost:3012/css/estilosTabla.css">
    <link rel="stylesheet" href="http://localhost:3012/css/estilos.css">
    <script src="js/script.js" defer></script>
    <script src="js/scriptBlur.js" defer></script>
    <script src="https://kit.fontawesome.com/e6060c4e37.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="menu">
            <a href="/">Ver Usuarios</a>
            <a href='/productos'>Ver Productos</a>
            <a href='/agregarUsuario'>Insertar Usuarios</a>
            <a href='/agregarProducto'>Insertar Producto</a>

      </div>